/* =*****= LVS.html Custom Reset v.2.13 [2017] =*****= */
*{border:none;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;-webkit-tap-highlight-color:transparent}
.clickable,label,input[type=button],input[type=submit],input[type=file],button{cursor:pointer}
button{width:auto;overflow:visible;font-family:inherit;background-color:transparent}
article,aside,figure,footer,header,hgroup,nav,section,details,summary{display:block}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}
b,strong{font-weight:700;color:inherit;font-size:inherit}
sub,sup{font-size:75%;line-height:0;position:relative}
pre,code,kbd,samp{font-family:monospace,sans-serif}
img{height: auto;max-width: 100%;width: auto\9}
td,td img{font-weight:400;vertical-align:top}
input:focus,textarea:focus{outline: none}
th{font-weight:700;vertical-align:bottom}
table,table td{border-collapse:collapse}
a{color:inherit;text-decoration:none}
input,select{vertical-align:middle}
h2,h3,h4,h5,h6{font-weight:400}
object,embed{max-width:100%}
address{font-style: normal}
textarea{resize: vertical}
blockquote,q{quotes:none}
embed{vertical-align:top}
table{font-size:inherit}
html{overflow-y:scroll}
ol,ul{list-style:none}
sub{bottom:-.25em}
sup{top:-.5em}
input[type="button"],
input[type="submit"],
input[type="reset"],
button{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
*,*:before,*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.left{float:left !important}
.right{float:right !important}
.break-word{word-wrap: break-word}
.clear{
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
/* =============== CLEARFIX =============== */
.cx:before,.wrp:before,.row:before,.cx:after,.wrp:after,.row:after {
    content: " "; 
    display: table
}
.cx:after,.wrp:after,.row:after {
  clear: both
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.cx,.wrp,.in {zoom: 1}
/*Additional normalize */
input:-ms-input-placeholder {text-overflow:ellipsis}
input::-moz-placeholder     {text-overflow:ellipsis} 
input:-moz-placeholder      {text-overflow:ellipsis} 
input[placeholder]          {text-overflow:ellipsis}
:focus::-webkit-input-placeholder {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}